@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    margin: 0;
    padding: 0;
}

/* Background */
.featuring-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url("../../assets/picture/featuring-bg.png") center / cover no-repeat;
    background-color: lightgray;
    z-index: -1;
}

/* Assets - header */
.featuring-component {
    position: absolute;
    display: flex;
    top: 12%;
    left: 20%;
    align-items: center;
    white-space: nowrap;
    gap: 200px;
}

.header-component {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 4px;
}

.header-effect {
    font-weight: bold !important;
}

/* Assets - Featuring hotels */
.featuring-title-box {
    display: flex;
    position: absolute;
    top: 200px;
    left: 137px;
    flex-direction: row;
    gap: 50px;
}

.find-out {
    display: flex;
    width: 159px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 4px;

    border-radius: 12px;
    background: var(--Theme-Primary_muted, #F6F4FF);
}

.find-out img {
    width: 20px;
}

.link-underline {
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.link-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #333;
    transition: 0.3s ease;
}

.link-underline:hover::after {
    width: 100%;
}

.icon-effect {
    cursor: pointer;
    transition: 0.3s ease;
}

.icon-effect:hover {
    opacity: 0.7;
}