@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    margin: 0;
    padding: 0;
}

/* Fonts */

.fonts-upper {
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.fonts-lower {
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fonts-textbox {
    color: #666;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fonts-textbox-lower {
    color: #666;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fonts-google {
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fonts-create-account {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* Background */

.background-login {
    position: fixed;
    width: 35%;
    height: 100vh;
    background: url("../assets/picture/login_bg.jpg") lightgray 50% / cover no-repeat;
    background-color: #FFFFFF;
}

/* Assets */

.border {
    position: absolute;
    left: 56.4%;
    white-space: nowrap;
    top: 10%
}

.textbox-border {
    margin-top: 32px;
    white-space: nowrap;
    left: 50%;
}

.textbox-contents-border {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
}

.label-input {
    display: flex;
    align-items: center;
    gap: 350px;
}

.text-box {
    height: 56px;
    width: 473px;
    padding: 0 12px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    border-radius: 12px;
    border: 1px solid rgba(102, 102, 102, 0.35);
    background: #fff;
}

.hide-group {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hide-group img {
    width: 30px;
}

.login-google-border {
    display: flex;
    width: 473px;
    height: 50px;
    padding: 0 12px;
    justify-content: center;
    align-items: center;

    border-radius: 40px;
    border: 1px solid #333;
    background: #FFF;

    cursor: pointer;
    transition: all 0.15s ease;
}

.google img {
    width: 24px;
}

.google {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 16px;
}

.create-account-border {
    display: flex;
    width: 473px;
    height: 50px;
    padding: 0 12px;
    justify-content: center;
    align-items: center;

    border-radius: 32px;
    opacity: 0.25;
    background: #111;

    cursor: pointer;
    transition: all 0.15s ease;
    transform-origin: center center;
}

/* Effects */
.link-underline {
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.link-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #333;
    transition: 0.3s ease;
}

.link-underline:hover::after {
    width: 100%;
}

.login-google-border:hover {
    opacity: 0.85;
}

.login-google-border:active {
    opacity: 0.6;
    transform: scale(0.97);
}

.create-account-border:hover {
    opacity: 0.85;
}

.create-account-border:active {
    opacity: 0.6;
    transform: scale(0.95);
}