/* Main menu */
.box-mainmenu {
    display: flex;
    padding: 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    position: absolute;
    top: 400px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;

    border-radius: 12px;
    background: var(--Theme-Primary, #7B61FF);
}

.search-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 1140px;
    height: 60px;
    padding: 8px 16px;
    gap: 80px;
    white-space: nowrap;

    position: absolute;
    top: 550px;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 12px;
    background: var(--Theme-White, #FFF);
}


.input-search-row {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    background: var(--Theme-White, #FFF);
    padding: 8px 16px;
    border-radius: 12px;

    width: max-content;
    max-width: 300px;
    flex-shrink: 1;
}


.text-search-row {
    position: absolute;
    transform: translateX(36px);
}